// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.wrap-alert {
    position: fixed;
    top: 100px;
    right: 100px;
    opacity: 0;
}